<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- css normalize -->
  <link rel="stylesheet" href="/stylesheets/normalize.css" />
  <!-- mi hoja de estilo -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <header>
    <div class="holder">
      <img src="/images/logo.jpeg" width="100px" alt="Logo Gestoria" />
      
      <h1>Gestoria Mata - soluciones integrales</h1>
    </div>
  </header>
      
    {{{body}}}

      <footer>
    <!-- pie de pagina -->
    <p>Diseñado por Griselda R. G. de la Mata - derechos reservados; 2022</p>
  </footer>
  
  </body>
</html>