body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
}
header {
  /* espacio logo */
  background-color: #5b800a;
  padding: 1em 0;
}

header h1 {
  /* texto encabezado */
  color: white;
  font-size: 2em;
  font-style: italic;
  font-weight: 100;
  display: inline-block;
  position:relative;
  bottom: 50px;
}

header h3{
  color: white;
  font-size: 1,5em;
  font-style: italic;
  font-weight: 100;
   
}

.holder {
    text-align: center;
  }

footer {
  background-color: rgb(12, 11, 11);
  clear: both;
  color: rgb(185, 173, 173);
  padding: 1em 0;
  margin-top: 2em;
  text-align: center;
}


.homeimg {
  margin-bottom: 1.5em;
  size: small;
}

.mensaje{
  color: red;
  font-style: italic;
}
botonlogin{
  background-color: #5b800a;
  color: #5b800a;
}


/* fin zona home */

